.header{
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-53%);
    z-index: 999;
}

.nav-link{
    font-weight: 500;
}

.nav-link:hover{
    font-weight: 900;
    border-bottom: 3px solid red;
}

.main-btn a{
    color: white;
}